*{
    padding: 0;
    margin: 0;
    /* background-color: #1a1a1a; Mudar a cor do fundo */
}

body{
    background-color: #1a1a1a;
}
li a{
text-decoration: none; /*Remove o sublinhado */
font-size: 20px; /* Tamanho da font*/
color: #ffffff; /*Mudar a cor da font*/
padding: 20px;
}

li{
    list-style: none; /* Remover formartação da lista*/
}

#logo{

    height: 70px; /*Altura*/
    width: 140px; /*Largura*/
}

ul{
    display: flex; /*Indica a prpriedade FlexBox*/
    flex-direction: row; /*Colocar os elementos na horizontal ou na vertical*/


}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.caixa-img-logo{
    height: 90px;
    width: 90px;
}

.bi{

    font-size: 30px;
    color: #4c544c;
}

.container {
  width: 100%; /* Garante que o container ocupe 100% da largura do elemento pai */
  max-width: 1200px; /* Define a largura máxima que o container pode atingir */
  margin: 0 auto; /* Centraliza o container horizontalmente */
  padding: 0 15px; /* Adiciona um espaçamento nas laterais para evitar que o conteúdo fique colado na tela */
} 

.banner{
    background-image:url("./assets/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 800px;
    border-radius: 25px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.texto-banner{
    font-size: 30px;
    font-size: 25px;
    color: #ffffff;
}
.btn-menu{
width: 150px;
height: 50px;
width: 145px;
height: 40px;
border-radius: 30px;
background-color: #333333;
color: #ffffff;
font-weight: bold;
border: none;
font-size: 19px;

margin: 25px;
}

.caixa-texto-banner{
width: 270px;
width: 220px;
padding: 35px; /*Espaçamento interno*/
}
.section-center{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulo-primario{
    color: #ffffff;
    font-size: 40px;
    font-weight:700;
    padding: 20px;
}

.estutura-titulo{
    display: flex;
    justify-content: center;
}


.produtos{
    height: 350px;
    width: 190px;

   
}

.valor{
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;

}

.cores{
    height: 15px;
    width: 15px;
    border-radius: 100%;
}

.vermelho{
    background-color: red;

}

.azul{

    background-color: blue;

}

.laranja{
     background-color: orange;

}

.preto{
 background-color: black;

}

.caixa-cores{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100px;
}
.carousel{
display: flex;
flex-direction: row;
justify-content: center;
gap: 15px; /*separa os itens*/

}

.banner-xbox{
    background-image: url("assets/x-box.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 900px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.texto-xbox{
    color: #ffffff;
    font-size: 20px;
}

.caixa-xbox{
    width: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-menu{
    margin: 10px;
    align-self: center;
    width: 120px;
    height: 40px;
    font-size: 17px;
}

.caixa-footeer{

    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 850px;
}

.caixa-um{
    font-size: 19px;
    color: #4c544c;
}

.caixa-dois{
    font-size: 15px;
    color: #ffffff;
   
}

.caixa-footer-dois{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    height: 300px;
}

.caixa-mae-tres{
    background-color: #202220;
    margin: 45px;
    width: 900px;
    height: 280px;
}

.bibi{
    color: #ffffff;
}
.icons-footer{
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 33px;
    gap: 10px;  /*espaçamento entre eles*/
    
}
.texto-maior{
    font-size: 16px;

}
.texto-menor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   
}




